  <div class="card">
  <div class="card-header text-center">
    <h2>Inserisci i tuoi dati di League of Legends</h2>
  </div>
  <div class="card-body">
    <p class="card-text">
      <%= form_with(model: lolplayer, local: true) do |form| %>
        <% if lolplayer.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(lolplayer.errors.count, "error") %> prohibited this lolplayer from being saved:</h2>

            <ul>
              <% lolplayer.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field form-group">
          <%= form.label :nickname %><br />
          <%= form.text_field :nickname, class:"form-control", placeholder:"nickname", autofocus: true, autocomplete: "nickname" %>
        </div>
        </br>
        <div class="field form-group">
          <%= form.label :elo %>
          <%= form.select :elo, ["Iron", "Bronze", "Silver", "Gold", "Platinum", "Diamond"], class:"form-control", autocomplete: "Silver" %>
        </div>

        </br>
        
        <div class="field form-group">
          <%= form.label :ruolo %>
          <%= form.select :ruolo, ["Top", "Jungle", "Mid", "Ad Carry", "Support"], class:"form-control", autocomplete: "Top" %>
        </div>

        
      </br>
        <div class="actions">
          <%= form.submit "Conferma", class:"btn btn-secondary" %>
        </div>
      <% end %>
      </p>
  </div>
</div>