<h1>Lolplayers</h1>

<table class ="table">
  <thead>
    <tr>
      <th>Nickname</th>
      <th>Elo</th>
      <th>Ruolo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lolplayers.each do |lolplayer| %>
      <tr>
        <td><%= lolplayer.nickname %></td>
        <td><%= lolplayer.elo %></td>
        <td><%= lolplayer.ruolo %></td>
        <td><%= link_to 'Edit', edit_lolplayer_path(lolplayer) %></td>
        <td><%= link_to 'Destroy', lolplayer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

