
<p>
  <strong>Nickname:</strong>
  <%= @lolplayer.nickname %>
</p>

<p>
  <strong>Elo:</strong>
  <%= @lolplayer.elo %>
</p>

<p>
  <strong>Ruolo:</strong>
  <%= @lolplayer.ruolo %>
</p>

<p>
  <strong>Ruolo:</strong>
  <%= @lolplayer.user_id %>
</p>

<%= link_to 'Edit', edit_lolplayer_path(@lolplayer) %> |
<%= link_to 'Back', lolplayers_path %>
