<div class="card">
  <div class="card-header text-center">
    <h2>Modifica il Profilo <% resource_name.to_s.humanize %></h2>
  </div>
  <div class="card-body">
    <p class="card-text">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
         
        <div class="text-center field form-group">
          <%= image_tag(current_user.avatar_thumbnail) if current_user.avatar.attached? %> <br />
        </div>
        
        

        <div class="field form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, class:"form-control", placeholder:"email", autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <br/>
        <div class="field form-group">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, class:"form-control", placeholder:"password", autocomplete: "new-password" %>
        </div>

        <div class="field form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, class:"form-control", placeholder:"password confirmation", autocomplete: "new-password" %>
        </div>
        <br/>
        <div class="field form-group">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, class:"form-control", placeholder:"current password", autocomplete: "current-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Update", class:"btn btn-secondary" %>
        </div>
      <% end %>
      <br/><br/>
  </div>
  <div class="card-footer text-muted">
    <h3>Cancel my account</h3>
    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:'btn btn-danger' %></p>
  </div>
</div>
<%= link_to "Back", :back %>


