<div class="card">
  <div class="card-header text-center">
    <h2>Sign up</h2>
  </div>
  <div class="card-body">
    <p class="card-text">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        
        

        <div class="field form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, class:"form-control", placeholder:"email", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, class:"form-control", placeholder:"password", autocomplete: "new-password" %>
        </div>

        <div class="field form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, class:"form-control", placeholder:"password confirmation", autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class:"btn btn-secondary" %>
        </div>
      <% end %>
          </p>
      <div class="card-footer text-muted">
        Sei già registrato?
        <%= render "devise/shared/links" %>
      </div>
  </div>
</div>
