<div class="card">
  <div class="card-header text-center">
    <h2>Inserisci i tuoi dati di Valorant</h2>
  </div>
  <div class="card-body">
    <p class="card-text">
      <%= form_with(model: valorantplayer, local: true) do |form| %>
        <% if valorantplayer.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(valorantplayer.errors.count, "error") %> prohibited this valorant player from being saved:</h2>

            <ul>
              <% valorantplayer.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field form-group">
          <%= form.label :nickname%><br />
          <%= form.text_field :nickname, class:"form-control", placeholder:"Nickname", autofocus: true, autocomplete: "Nickname" %>
        </div>
        </br>
        <div class="field form-group">
          <%= form.label :elo %>
          <%= form.select :elo, ["Iron", "Bronze", "Silver", "Gold", "Platinum", "Diamond"], class:"form-control", autocomplete: "Silver" %>
        </div>

        </br>
        
        <div class="field form-group">
          <%= form.label :ruolo %>
          <%= form.select :ruolo, ["Controller", "Smoker", "Duelist", "Healer"], class:"form-control", autocomplete: "Top" %>
        </div>

      
      </br>
        <div class="actions">
          <%= form.submit "Conferma", class:"btn btn-secondary" %>
        </div>
      <% end %>
      </p>
  </div>
</div>
