<h1>Valorantplayers</h1>

<table class ="table">
  <thead>
    <tr>
      <th>Nickname</th>
      <th>Elo</th>
      <th>Ruolo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @valorantplayers.each do |valorantplayer| %>
      <tr>
        <td><%= valorantplayer.nickname %></td>
        <td><%= valorantplayer.elo %></td>
        <td><%= valorantplayer.ruolo %></td>
        <td><%= link_to 'Edit', edit_valorantplayer_path(valorantplayer) %></td>
        <td><%= link_to 'Destroy', valorantplayer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

