<p>
  <strong>Nickname:</strong>
  <%= @valorantplayer.nickname %>
</p>

<p>
  <strong>Elo:</strong>
  <%= @valorantplayer.elo %>
</p>

<p>
  <strong>Ruolo:</strong>
  <%= @valorantplayer.ruolo %>
</p>

<%= link_to 'Edit', edit_valorantplayer_path(@valorantplayer) %> |
<%= link_to 'Back', valorantplayers_path %>
