<div class="card">
  <div class="card-header text-center">
    <h2>Modifica La foto <% resource_name.to_s.humanize %></h2>
  </div>
  <div class="card-body">
    <p class="card-text">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <br /> 
       <div class="field form-group">
          <%= image_tag(current_user.avatar_thumbnail) if current_user.avatar.attached? %> <br />
        </div>
        <br />
        <div class="field form-group">
          <%= f.file_field :avatar %> <br />
        </div>

        <br />
        <div class="field form-group">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, class:"form-control", placeholder:"current password", autocomplete: "current-password" %>
        </div>
        <br />
        <div class="actions">
          <%= f.submit "Update", class:"btn btn-secondary" %>
        </div>
      <% end %>
      <br/><br/>
  </div>
</div>
<%= link_to "Back", :back %>
