<div class="card">
  <div class="card-header text-center">
    <h2>Inserisci i tuoi dati di warzone</h2>
  </div>
  <div class="card-body">
    <p class="card-text">
      <%= form_with(model: warzoneplayer, local: true) do |form| %>
        <% if warzoneplayer.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(warzoneplayer.errors.count, "error") %> prohibited this warzone player from being saved:</h2>

            <ul>
              <% warzoneplayer.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field form-group">
          <%= form.label :nickname %><br />
          <%= form.text_field :nickname, class:"form-control", placeholder:"nickname", autofocus: true, autocomplete: "nickname" %>
        </div>
        </br>
        <div class="field form-group">
          <%= form.label :livello %>
          <%= form.number_field :livello, class:"form-control", placeholder:"1", autocomplete: "1" %>
        </div>

        </br>
      

      </br>
        <div class="actions">
          <%= form.submit "Conferma", class:"btn btn-secondary" %>
        </div>
      <% end %>
      </p>
  </div>
</div>
