<h1>Warzoneplayers</h1>

<table class ="table">
  <thead>
    <tr>
      <th>Nickname</th>
      <th>Livello</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @warzoneplayers.each do |warzoneplayer| %>
      <tr>
        <td><%= warzoneplayer.nickname %></td>
        <td><%= warzoneplayer.livello %></td>
        <td><%= link_to 'Edit', edit_warzoneplayer_path(warzoneplayer) %></td>
        <td><%= link_to 'Destroy', warzoneplayer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

