<p>
  <strong>Nickname:</strong>
  <%= @warzoneplayer.nickname %>
</p>

<p>
  <strong>Livello:</strong>
  <%= @warzoneplayer.livello %>
</p>

<%= link_to 'Edit', edit_warzoneplayer_path(@warzoneplayer) %> |
<%= link_to 'Back', warzoneplayers_path %>
