<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<div class="container-fluid">
	  <%= link_to root_path do %>
	  	<%= image_tag 'logo_white.png', size:"178x40" %>
	  <% end %>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarCollapse">
	    <ul class="navbar-nav me-auto mb-2 mb-md-0">
	      <li class="nav-item active">
	        <%= link_to "Post", posts_path, class:"nav-link" %>
	      </li>
          <li class="nav-item">
	        <%= link_to "LeagueOfLegends", lolposts_posts_path, class:"nav-link" %>
	      </li>
	      <li class="nav-item">
	        <%= link_to "Valorant", valorantposts_posts_path, class:"nav-link" %>
	      </li>
	      <li class="nav-item">
	        <%= link_to "Call of Duty Warzone", warzoneposts_posts_path, class:"nav-link" %>
	      </li>
	    </ul>

	    <form class="d-flex">
	       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	          <% if user_signed_in? %>
		        <li class = "nav-item">
		        	<%= link_to "Profilo", home_profile_path, class:"nav-link" %>
		        </li>
		        <li class = "nav-item">
		        	<%= link_to "Esci", destroy_user_session_path, method: :delete, class:"nav-link" %>
		        </li>
		    <% else %>
		    	<li class = "nav-item">
	        		<%= link_to "Registrati", new_user_registration_path, class:"nav-link" %>
	        	</li>
	        	<li class = "nav-item">
	        		<%= link_to "Accedi", new_user_session_path, class:"nav-link" %>
	        	</li>
	        <% end %>

	        <% if user_signed_in? && current_user.admin? %>
	        	<li class = "nav-item dropdown ">
					  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					    Menù Admin
					  </a>

					  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					  	<li class>
					    	<%= link_to "Utenti", users_path, class:"nav-link dropdown-item bg-dark" %>
					    </li>

					    <li class>
					    	<%= link_to "LOL players", lolplayers_path, class:"nav-link dropdown-item bg-dark" %>
					    </li>
					    	
					    <li>
					    	<%= link_to "Valorant players", valorantplayers_path, class:"nav-link dropdown-item bg-dark" %>
					    </li>

					    <li>
					    	<%= link_to "Warzone players", warzoneplayers_path, class:"nav-link dropdown-item bg-dark" %>
					    </li>

					  </ul>
	        	</li>
	        <% end %>
		  </ul>
	    </form>
	  </div>
	</div>
</nav>