<div class="card mb-3" style="max-width: 900px;">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag("Giampaolo.jpg", size: "525x350", :alt => "Immagine di Giampaolo")%>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title text-end">Giampaolo Fabiani</h5>
        <p class="card-text text-end">Ingegneria Informatica</p>
        <p class="card-text text-end">Matricola: 1712037</p>
        <p class="card-text text-end">fabiani.1712037@studenti.uniroma1.it</p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 900px;">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag("Davide.jpg", size: "525x350", :alt => "Immagine di Giampaolo")%>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title text-end">Davide Margottini</h5>
        <p class="card-text text-end">Ingegneria Informatica</p>
        <p class="card-text text-end">Matricola: 1762031</p>
        <p class="card-text text-end">margottini.1762031@studenti.uniroma1.it</p>
      </div>
    </div>
  </div>
</div>