<main>

 <!--3 Carousel -->
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="1" class=""></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
      

      <div class="carousel-item active">
        <%= image_tag("awaken1.jpg", :alt => "Sfondo di LOL", class:"bd-placeholder-img", xmlns:"http://www.w3.org/2000/svg", preserveAspectRatio:"xMidYMid slice", focusable:"false" ) %>
        <div class="container">
          <div class="carousel-caption text-start">
            
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <%= image_tag("valo1.jpg", :alt => "Sfondo di Valorant", class:"bd-placeholder-img", xmlns:"http://www.w3.org/2000/svg", preserveAspectRatio:"xMidYMid slice", focusable:"false" ) %>
        <div class="container">
          <div class="carousel-caption">
              <%= button_to "Vedi Post", posts_path, :method => :get, class:'btn btn-lg btn-primary' %>
            </p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <%= image_tag("warzone1.jpg", :alt => "Sfondo fi warzone", class:"bd-placeholder-img", xmlns:"http://www.w3.org/2000/svg", preserveAspectRatio:"xMidYMid slice", focusable:"false" ) %>
        <div class="container">
          <div class="carousel-caption text-start">
            
              <%= button_to "Scrivi", new_post_path, :method => :get, class:'btn btn-lg btn-primary' %>
            </p>
          </div>
        </div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
  
  
  <div class= "container">
    <% if !user_signed_in? %>
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">Non sei registrato?</h2>
                <p class="card-text">Entra anche tu a far parte della nostra commiunity!</p>
                <%= button_to "Registrati", new_user_registration_path, :method => :get, class:'btn btn-lg btn-primary' %>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
           <div class="card">
            <div class="card-body">
              <h2 class="card-title">Sei gia registrato?</h2>
              <p class="card-text">Entra nel sito e controlla se qualcuno vuole giocare con te!</p>
              <%= button_to "Log in", new_user_session_path, :method => :get, class:'btn btn-lg btn-primary' %>
            </div>
           </div>
          </div>
        </div>
  
    <%end %>

    <br />
  
    <div class="card text-center">
     <div class="card-body">
      <h1 class="card-title">Social</h1>
      <p class="card-text">Guarda la lista dei commenti principali per vedere se qualcuno cerca giocatori!</p>
      <p><%= button_to "vai ai post", posts_path, :method => :get, class:'btn btn-lg btn-primary' %> 
        <br />
        <%= button_to "Scrivi un nuovo Post", new_post_path, :method => :get, class:'btn btn-lg btn-primary' %>
      </p>
     </div>
    </div>
  </div>

  <br />

  <!--3 GIOCHI -->
  <div class="container marketing">
    <div class="card-group">
    
      <div class="card">
        <div class="card-body text-center">
          <p class="text-center">
          <%= image_tag("lol_logo.jpeg", size: "200x140", :alt => "Logo di LOL", class:"bd-placeholder-img", xmlns:"http://www.w3.org/2000/svg", preserveAspectRatio:"xMidYMid slice", focusable:"false" ) %>
          </p>
          <h3 class="card-title">League of Legends</h3>
          <p class="card-text">League of Legends è il famoso MOBA sviluppato da Riot Games®. Il gioco competitivo più giocato e seguito al mondo, scopri quante persone cercano un compagno nella landa degli evocatori</p>
          <p><%= button_to "Post di LeagueOfLegends", lolposts_posts_path, :method => :get, class:'btn btn-lg btn-primary' %></p>
        </div>
      </div>

      <div class="card">
        <div class="card-body text-center">
          <p class="text-center">
          <%= image_tag("valorant_logo.png", size: "200x140", :alt => "Logo di Valorant", class:"bd-placeholder-img", xmlns:"http://www.w3.org/2000/svg", preserveAspectRatio:"xMidYMid slice", focusable:"false" ) %>
          </p>
          <h3 class="card-title">Valorant</h3>
          <p class="card-text">Il nuovo FPS competitivo che sta spopolando in cerca di nuovi giocatori sia per partite amichevoli in compagnia che per cercare il tuo compagno perfetto di ranked</p>
          <p><%= button_to "Post di Valorant", valorantposts_posts_path, :method => :get, class:'btn btn-lg btn-primary' %></p>
        </div>
      </div>

      <div class="card">
        <div class="card-body text-center">
          <p class="text-center">
          <%= image_tag("call_logo2.png", size: "200x140", :alt => "Logo di Warzone", class:"bd-placeholder-img", xmlns:"http://www.w3.org/2000/svg", preserveAspectRatio:"xMidYMid slice", focusable:"false" ) %>  
          </p>
          <h3 class="card-title">Call of Duty Warzone</h3>
          <p class="card-text">Il Battle Royale ambientato nel mondo di Modern Warfare®. Prepara il paracadute per atterrare insieme a tanti nuovi amici con cui arrivare insieme alla vittoria finale</p>
          <p><%= button_to "Post di Warzone", warzoneposts_posts_path, :method => :get, class:'btn btn-lg btn-primary' %></p>
        </div>
      </div>

    </div>

  </div><!-- /.container -->
  <br /><br />
</main>