<div id="myCarousel" class="container carousel slide" data-bs-ride="carousel">
	<h1 class= "text-center">
  		Profilo
  		
	</h1>
        <p class="text-center"><%= current_user.email%></p>
        <p class="text-center">
        	<%= image_tag(current_user.avatar_thumbnail)%><br />
        <small>
          <%= link_to "Modifica immagine profilo", editfoto_path, class: "text-muted fs-6" %><br />
          <%= link_to "Modifica Dati Profilo",edit_user_registration_path, class: "text-muted fs-6" %>    
        </small>
        </p>


    <% if @lolplayers %>
    	<h4 class= "text"><%= image_tag("lolpost.jpeg", size: "35x35", :alt => "Logo di LOL") %>  LeagueofLegends </h4>
		<table class="table table-striped ">
      		<thead class= "table">
    			<tr>
      				<th scope="col">Nickname</th>
      				<th scope="col">Elo</th>
      				<th scope="col">Ruolo</th>
              <th scioe="col"></th>
    			</tr>
  			</thead>
  			<tbody>
		    <tr>
		      <td> <%= @lolplayers.nickname %> </td>
		      <td><%= @lolplayers.elo %></td>
		      <td><%= @lolplayers.ruolo %></td>
          <td><%= link_to "Modifica", edit_lolplayer_path(@lolplayers), class: "text-muted" %></td>
		    </tr>
		  </tbody>
		</table>
	<% end %>

  
	<% if @valorantplayers %><br />
    	<h4 class= "text"><%= image_tag("valopost.jpeg", size: "35x35", :alt => "Logo di LOL") %>  Valorant </h4>
		<table class="table table-striped">
      		<thead class= "table">
    			<tr>
      				<th scope="col">Nickname</th>
      				<th scope="col">Elo</th>
      				<th scope="col">Ruolo</th>
              <th scioe="col"></th>
    			</tr>
  			</thead>
  			<tbody>
		    <tr>
		      <td> <%= @valorantplayers.nickname %> </td>
		      <td><%= @valorantplayers.elo %></td>
		      <td><%= @valorantplayers.ruolo %></td>
          <td>
          <%= link_to "Modifica", edit_valorantplayer_path(@valorantplayers), class: "text-muted fs-6" %>
          </td>
		    </tr>
		  </tbody>
		</table>
	<% end %>


	<% if @warzoneplayers %><br />
    	<h4 class= "text"><%= image_tag("warzonepost.jpeg", size: "35x35", :alt => "Logo di LOL") %> CallOfDuty Warzone</h4>
		<table class="table table-striped">
      		<thead class= "table">
    			<tr>
      				<th scope="col">Nickname</th>
      				<th scope="col">Livello</th>
              <th></th>
    			</tr>
  			</thead>
  			<tbody>
		    <tr>
		      <td> <%= @warzoneplayers.nickname %> </td>
		      <td><%= @warzoneplayers.livello %></td>
          <td><%= link_to "Modifica", edit_warzoneplayer_path(@warzoneplayers), class: "text-muted fs-6" %></td>
		    </tr>
		  </tbody>
		</table>
	<% end %>
</div>



<hr/>
<div class="container marketing">
    <!-- Three columns of text below the carousel -->

    <div class="row">
      <% if !@lolplayers %>
      <div class="col-lg-4">
        <%= image_tag("lol_logo.jpeg", size: "200x140", :alt => "Logo di LOL", class:"bd-placeholder-img", xmlns:"http://www.w3.org/2000/svg", preserveAspectRatio:"xMidYMid slice", focusable:"false" ) %>
        
        <p>Inserisci i tuoi dati di LeagueOfLegends </p>
        <p><%= button_to "Vai", new_lolplayer_path, :method => :get, class:'btn btn-lg btn-secondary' %></p>
      </div><!-- /.col-lg-4 -->
      <% end %>

      <% if !@valorantplayers %>
      <div class="col-lg-4">
        <%= image_tag("valorant_logo.png", size: "200x140", :alt => "Logo di Valorant", class:"bd-placeholder-img", xmlns:"http://www.w3.org/2000/svg", preserveAspectRatio:"xMidYMid slice", focusable:"false" ) %>
        
        <p>Inserisci i tuoi dati di Valorant</p>
         <p><%= button_to "Vai", new_valorantplayer_path, :method => :get, class:'btn btn-lg btn-secondary' %></p>
      </div><!-- /.col-lg-4 -->
      <% end %>

      <% if !@warzoneplayers %>
      <div class="col-lg-4">
        <%= image_tag("call_logo2.png", size: "200x140", :alt => "Logo di Warzone", class:"bd-placeholder-img", xmlns:"http://www.w3.org/2000/svg", preserveAspectRatio:"xMidYMid slice", focusable:"false" ) %>

        
        <p>Inserisci i tuoi dati di Warzone</p>
        <p><%= button_to "Vai", new_warzoneplayer_path, :method => :get, class:'btn btn-lg btn-secondary' %></p>
      </div><!-- /.col-lg-4 -->
      <% end %>
    </div><!-- /.row -->

</div><!-- /.container -->
</div>
