<div class="card">
  <div class="card-header text-center">
    <h2>Log in</h2>
  </div>
  <div class="card-body">
    
    <p class="card-text">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, class:"form-control", placeholder:"email", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, class:"form-control", placeholder:"password", autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field form-check">
            <%= f.check_box :remember_me, class:"form-check-input" %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class:"btn btn-secondary"%>
        </div>
      <% end %>
      <br/>
    </p>
    <div class="card-footer text-muted">
      <%= render "devise/shared/links" %>
  </div>
</div>

