<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= form.label :gioco %>
    <%= form.select :gioco, ["LEAGUE OF LEGENDS", "VALORANT", "WARZONE"], class:"form-control" %>
  </div>


  <div class="form-inputs">
    <%= form.rich_text_area :body %>
  </div>

  <div class="form-actions">
    <%= form.submit %>
  </div>
<% end %>
