<div class="container">
  <p class ="text-center">
    <%= button_to "Nuovo Post", new_post_path, :method => :get, class:'btn btn-lg btn-primary' %>
  </p>

    <% @posts.each do |post| %>

        <div class="row">
            <div class="digg_pagination">
                <%= will_paginate @posts, :container => false %>
            </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h3 class="text-center">
              <%= image_tag(post.user.avatar_thumbnail, size: "100x100") %>
              <%=  post.user.username %> |

              <% if post.gioco == "LEAGUE OF LEGENDS" %>
                <%= image_tag("lolpost.jpeg", size: "75x75", :alt => "Logo di LOL") %>
              <% end %>

              <% if post.gioco == "VALORANT" %>
                <%= image_tag("valopost.jpeg", size: "75x75", :alt => "Logo di LOL") %>
              <% end %>

              <% if post.gioco == "WARZONE" %>
                <%= image_tag("warzonepost.jpeg", size: "75x75", :alt => "Logo di LOL") %>
              <% end %>
               <%= post.titolo %>

              </h3>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <h3><%= post.body %></h3>  <br />
              <h6>
              <footer class="blockquote-footer"><%= post.updated_at.strftime("%A, %B %e, %Y") %> by <%= post.user.username %> | 
                <cite title="Source Title"><%= pluralize(post.views, "View") %></cite></footer></h6>
            </blockquote>
          </div>
        </div>
    <% end %>
</div>