<div style="width:100%; height: 350px; overflow-y:hidden">
  <% if @post.gioco == "LEAGUE OF LEGENDS" %>
    <%= image_tag("awaken1.png", style:'width:100%') %>
  <% end %>

   <% if @post.gioco == "VALORANT" %>
    <%= image_tag("valo1.jpeg", style:'width:100%') %>
  <% end %>

   <% if @post.gioco == "WARZONE" %>
    <%= image_tag("warzone.jpeg", style:'width:100%') %>
  <% end %>

</div>
</br>

<div class="card">

  <div class="card-header"><br />
    <h3 class="text-center">
      <%= image_tag(@post.user.avatar_thumbnail, size: "35x35") %>

      <%=  @post.user.username %> |
      <% if @post.gioco == "LEAGUE OF LEGENDS" %> 
        <%= image_tag("lolpost.jpeg", size: "20x20", :alt => "Logo di LOL") %> 
      <% end %>

      <% if @post.gioco == "VALORANT" %>
        <%= image_tag("valopost.jpeg", size: "20x20", :alt => "Logo di Valorant") %>
      <% end %>

      <% if @post.gioco == "WARZONE" %>
        <%= image_tag("warzonepost.jpeg", size: "20x20", :alt => "Logo di Warzone") %>
      <% end %>
      <%= @post.titolo %>
      </h3><br />
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <h3><%= @post.body %></h3><br />
      <h6>
      <footer class="blockquote-footer"><%= @post.updated_at.strftime("%A, %B %e, %Y") %> by <%= @post.user.username %>| <cite title="Source Title"><%= pluralize(@post.views, "View") %></cite> 
          <% if user_signed_in? && @post.user == current_user%>
            <%= link_to "Delete", @post, method: :delete %>
          <% end %>
      </footer></h6>
    </blockquote>
  </div>
</div>
<br/>