<div class="container">
  <p class ="text-center">
        <%= button_to "Nuovo Post", new_post_path, :method => :get, class:'btn btn-lg btn-primary' %>
    </p>
    <div class="row">
            <div class="digg_pagination">
                <%= will_paginate @posts, :container => false %>
            </div>
        </div>

    <% @posts.each do |post| %>

        <div class="card">
          <div class="card-header">
            <h3 class="text-center">
              <%= image_tag(post.user.avatar_thumbnail, size: "35x35") %>
              <%=  post.user.username %> |
              <%= image_tag("valopost.jpeg", size: "20x20", :alt => "Logo di Valorant") %>
              <%= post.titolo %>
              </h3>
          </div>
          <div class="card-body"><br />
            <blockquote class="blockquote mb-0">
              <h4><%= post.body %></h4>  <br />
              <h6>
              <footer class="blockquote-footer"><%= post.updated_at.strftime("%A, %B %e, %Y") %> by <%= post.user.username %> | 
                <cite title="Source Title"><%= pluralize(post.views, "View") %></cite>
              <% if user_signed_in? && post.user == current_user%>
                    <%= link_to "Delete", post, method: :delete %>
                <% elsif user_signed_in? && current_user.admin? %>
                    <%= link_to "Delete", post, method: :delete %>
                <% end %></footer></h6>
            </blockquote>
          </div>
        </div><br /><br />
    <% end %>
</div>